 <div style="display: flex, justify-content: center"> 
 <h1 style="text-align: center; padding: 2% ;border: solid; background-color:#1E68F1 ; font-size: 38px">Exercice Requetes SQL</h1>
 </div>

<div style="font-size: 16px"> 1. Créer la base de donnée sous le nom de 'Boutique'</div>

<div style="color: #1E68F1 ; font-size: 17px; padding: 1%">CREATE DATABASE IF NOT EXISTS Boutique ; </div>

<div style="font-size: 16px"> 2. Création des tables (Manufacturers, Products)</div>

<div style="color: #1E68F1 ; font-size: 17px; padding: 1%">  CREATE TABLE Manufacturers ( Code INT PRIMARY KEY NOT NULL
        AUTO_INCREMENT, Name VARCHAR(50) ); </div>

<div style="font-size: 16px"> 3. Inserer dans la table Manufacturers les valeurs</div>

<div style="color: #1E68F1 ; font-size: 17px; padding: 1%"> INSERT INTO `Manufacturers` (`Name`) VALUES ('Sony'); <br/>
        INSERT INTO `Manufacturers` (`Name`) VALUES ('Creative Labs'); <br/>
        INSERT INTO `Manufacturers` (`Name`) VALUES ('Hewlett-Packard');<br/>
        INSERT INTO `Manufacturers` (`Name`) VALUES ('Lenovo');<br/>
        INSERT INTO `Manufacturers` (`Name`) VALUES ('Winchester');<br/>
        INSERT INTO `Manufacturers` (`Name`) VALUES ('Apple');<br/> </div>

<div style="font-size: 16px"> 4. Inserer dans la table Products les valeurs</div>

<div style="color: #1E68F1 ; font-size: 17px; padding: 1%">
        INSERT INTO `Products` (`Name`, `Price`, `ManuID`) VALUES ('Hard drive', '240','5');<br/>
        INSERT INTO `Products` (`Name`, `Price`, `ManuID`) VALUES ('Memory', '120','6');<br/>
        INSERT INTO `Products` (`Name`, `Price`, `ManuID`) VALUES ('ZIP drive', '150','4');<br/>
        INSERT INTO `Products` (`Name`, `Price`, `ManuID`) VALUES ('Floppy Disk', '5','6');<br/>
        INSERT INTO `Products` (`Name`, `Price`, `ManuID`) VALUES ('Monitor', '240','1');<br/>
        INSERT INTO `Products` (`Name`, `Price`, `ManuID`) VALUES ('DVD drive', '180','2');<br/>
        INSERT INTO `Products` (`Name`, `Price`, `ManuID`) VALUES ('CD drive', '90','2');<br/>
        INSERT INTO `Products` (`Name`, `Price`, `ManuID`) VALUES ('Printer', '270','3');<br/>
        INSERT INTO `Products` (`Name`, `Price`, `ManuID`) VALUES ('Toner cartridge', '66','3');<br/>
        INSERT INTO `Products` (`Name`, `Price`, `ManuID`) VALUES ('DVD burner', '180','2');<br/>  </div>

<div style="font-size: 16px"> 5. Selectionner le nom de tout les produits</div>

<div style="color: #1E68F1 ; font-size: 17px; padding: 1%"> SELECT Name FROM Products; </div>

<div style="font-size: 16px"> 6. Sélectionner les noms et les prix de tous les produits présents dans votre database</div>

<div style="color: #1E68F1 ; font-size: 17px; padding: 1%"> SELECT Name, Price FROM Products; </div>

<div style="font-size: 16px"> 7. Sélectionner le nom des produits dont le prix est inférieur ou égal à 200€ </div>

<div style="color: #1E68F1 ; font-size: 17px; padding: 1%"> SELECT Name FROM Products WHERE Price <= 200; </div>

<div style="font-size: 16px"> 8. Sélectionner tous les produits dont le prix est compris entre 50€ et 120€ </div>

<div style="color: #1E68F1 ; font-size: 17px; padding: 1%"> SELECT * FROM Products WHERE Price BETWEEN '50' AND '120'; </div>

<div style="font-size: 16px"> 9. Sélectionner le nom et le prix en centimes (càd le prix doit être multiplié par 100)</div>

<div style="color: #1E68F1 ; font-size: 17px; padding: 1%"> SELECT Name, Price*100 AS PriceCents FROM Products; </div>

<div style="font-size: 16px"> 10. Calculer le prix moyen de tous les produits</div>

<div style="color: #1E68F1 ; font-size: 17px; padding: 1%"> SELECT SUM(Price)/COUNT(Price) AS PriceMean FROM Products; </div>

<div style="font-size: 16px"> 11. Calculer le prix moyen de tous les produits dont le code fabriquant est égal à 2 </div>

<div style="color: #1E68F1 ; font-size: 17px; padding: 1%"> SELECT SUM(Price)/COUNT(Price) AS PriceMean FROM Products WHERE ManuID = 2; </div>

<div style="font-size: 16px"> 12. Calculer le nombre de produits dont le prix est supérieur ou égal à 180€</div>

<div style="color: #1E68F1 ; font-size: 17px; padding: 1%"> SELECT COUNT(Price) AS nb_products FROM Products WHERE Price >= 180; </div>

<div style="font-size: 16px"> 13. Sélectionner le nom et le prix de tous les produits dont le prix est supérieur ou égal à 180€,et trier par prix par ordre décroissant puis nom par ordre croissant</div>

<div style="color: #1E68F1 ; font-size: 17px; padding: 1%"> SELECT Name, Price FROM Products WHERE Price >= 180 ORDER BY Price DESC, Name ASC;</div>

<div style="font-size: 16px"> 14. Sélectionner toutes les données des produits y compris les données relatives aux fabricants</div>

<div style="color: #1E68F1 ; font-size: 17px; padding: 1%"> SELECT * FROM Products JOIN Manufacturers ON Products.ManuID=Manufacturers.code; </div>

<div style="font-size: 16px">Je renomme les colonnes</div>

<div style="color: #1E68F1 ; font-size: 17px; padding: 1%">  ALTER TABLE Products CHANGE Name NameP VARCHAR(50) ;
        ALTER TABLE Manufacturers CHANGE Name NameM VARCHAR(50); </div>

<div style="font-size: 16px"> 15. Sélectionner le nom du produit, le prix et le nom du fabriquant de tous les produits</div>

<div style="color: #1E68F1 ; font-size: 17px; padding: 1%"> SELECT NameP, Price, NameM FROM Products JOIN Manufacturers ON Products.ManuID=Manufacturers.code; </div>

<div style="font-size: 16px"> 16. Calculer le prix moyen des produits de chaque fabricant, en indiquant uniquement celui-ci par son code.</div>

<div style="color: #1E68F1 ; font-size: 17px; padding: 1%"> SELECT AVG(Price) AS MeanProduct, Manufacturers.Code FROM Products JOIN Manufacturers ON Products.ManuID=Manufacturers.code GROUP BY Manufacturers.Code; </div>

<div style="font-size: 16px"> 17. Calculer le prix maximum d'un produit vendu par fabriquant.</div>

<div style="color: #1E68F1 ; font-size: 17px; padding: 1%"> SELECT MAX(Price) AS MaxPrice, Manufacturers.NameM FROM Products JOIN Manufacturers ON Products.ManuID=Manufacturers.code GROUP BY Manufacturers.NameM ; </div>

<div style="font-size: 16px"> 18. Sélectionner les noms des fabricants dont les produits ont un prix moyen supérieur ou égal )150€ </div>

<div style="color: #1E68F1 ; font-size: 17px; padding: 1%"> SELECT Manufacturers.NameM FROM Products JOIN Manufacturers ON Products.ManuID=Manufacturers.code WHERE (SELECT AVG(Price) >= 150) GROUP BY Manufacturers.NameM; </div>

<div style="font-size: 16px"> 19. Sélectionner les noms et les prix du produit le moins cher et le plus cher</div>

<div style="color: #1E68F1 ; font-size: 17px; padding: 1%"> SELECT NameP, Price FROM Products WHERE price IN ((SELECT MIN(Price) FROM Products),( SELECT MAX(Price)FROM Products)) ; </div>

<div style="font-size: 16px"> 20. Ajouter un nouveau produit : Loudspeakers, 70€, manufacturer 2</div>

<div style="color: #1E68F1 ; font-size: 17px; padding: 1%"> INSERT INTO `Products` (`NameP`, `Price`, `ManuID`) VALUES ('Loudspeakers', '70','2'); </div>

<div style="font-size: 16px"> 21. Mettre à jour le nom du produit 8 en « Laser Print »</div>

<div style="color: #1E68F1 ; font-size: 17px; padding: 1%"> UPDATE Products SET NameP='Laser Print' WHERE Code=8; </div>

<div style="font-size: 16px"> 22. Appliquer une remise de 10% à tous les produits et stocker ce résultat dans une nouvelle colonne de la table</div>

<div style="color: #1E68F1 ; font-size: 17px; padding: 1%"> ALTER TABLE Products ADD Remise FLOAT;
        UPDATE Products SET Remise = Price*0.90; 
    <p  style="color: black"><i>Pensez à decocher safe update dans preferences SQL </i></p>
</div>

<div style="font-size: 16px"> 23. Appliquer une remise de 10% à tous les produits dont le prix est supérieur ou égal à 120€</div>

<div style="color: #1E68F1 ; font-size: 17px; padding: 1%"> UPDATE Products SET Remise = Price*0.90 WHERE Price >= 120; </div>